<% provide(:title, 'Home') %>
<h1>Home</h1>

<div class="center hero-unit">
<h1>Welcome to Archer</h1>
<h2>
An organization based in a dormant Volcano
</h2>
<%= link_to "Sign up now!", 'signup_path', class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'
%>
